<head>
    <link rel="stylesheet" href="../font-awesome.css">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="./style.css">
    <title>Todo List - vue</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <h2 class="text-center">Todo List</h2>
            <div class="row">
                <div class="add-tolist-box">
                    <div class="col-md-2">
                        <button class="btn btn-primary" @click="addToList()">
                            add
                        </button>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="add the title here" v-model="newJob">
                    </div>
                </div>
            </div>
            <div class="row-2">
                <ul>
                    <li v-for="(job,index) in myJobs">
                        <div class="job-row">
                            <div class="title">
                                <p>{{index+1}} - {{job}}</p>
                            </div>
                            <div class="actions">
                                <button class="btn btn-dark" @click="toDoDone(index)"><i
                                        class="fa fa-check"></i></button>
                                <button class="btn btn-dark" @click="repeat(index)"><i
                                        class="fa fa-repeat"></i></button>
                                <button class="btn btn-dark" @click="deleteJob(index)"><i
                                        class="fa fa-trash"></i></button>
                            </div>
                        </div>
                </ul>
            </div>
        </div>
    </div>
    <script src="../vue.js"></script>
    <script src="./script.js"></script>
    <script src="../bootstrap.js"></script>
</body>